*.nii*
*.pkl
!*funtional_target.nii.gz
!*func_wm.nii
!*no_cereb_decode_mask.nii.gz
!*/roi/*
!*.py
!*share/*
*checkpoint*
*~*
*OSX*
*DS_Store*
*MAC*
*.mgz*
*.mgh*
*rh.*
*lh.*
*.h5*
*MOCOparams*
*encode_params*
*tmp_glm_cache*